@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700|PT+Sans:400,400i,700&subset=cyrillic');

/*

font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;

*/



body {
    background-color: #ffffff;
}

li {
    list-style-type: none;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #000000;
}
 
.header-logo {
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.header-top {
/*  height: 42px;
    width: 1200px; */
    background-color: #293449;
}

.header-top li {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    color: #ffffff;
}

.header-top a {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    color: #ffffff;
}

.buy {
    height: 42px;
    width: 150px;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    color: #ffffff;
    background-color: #63a63e;
    border: none;
}

h1.main-page {
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.header-middle {
    background-color: #f3f7f8;
}

.header-phone {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    color: #ee3643;
    border: 2px solid #ffffff; 
}

.header-adress {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    color: #32425c;
}

.login {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 20px;
}

.main-menu {
    background-color: #32425c;
}

.main-menu-link {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
}

.banner-name{
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    
}

.banner-link {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.banner1 {
    background-color: #ffbf47;
 /*   height: 40px;
    width: 135px; */
}

.banner2 {
    background-color: #3bbce3;
}

.banner3 {
    background-color: #dc91d8;
}

.banner4 {
    background-color: #8ed78f;
}

.banner5 {
    background-color: #ffc047;
}

.banner-link-materials {
    background-color: #e5ac40;
}

.banner-link-tools {
    background-color: #35a9cc;
}

.banner-link-tehnic {
    background-color: #c682c2;
}

.banner-link-sale {
    background-color: #80c180;
}

.banner-link-delivery {
    background-color: #e5ac40;
}

.section-name {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f9f5f0''
}

.button-red {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border: none;
}

.item {
    border: 2px solid #eaeaea;
}

.item-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.old-price {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #a9a9a9;
    text-decoration: line-through;
    font-weight: bold;
}

.price {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    background-color: #ee3643; 
}

.brands-item {
    border: 2px solid #eaeaea;
}

.visually-hidden {
    visibility: hidden;
}

p.main-page {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #000000;
}

.services {
    background-color: #f4f8fa;
}

.section-name.info {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
}

.services-item {
    background-color: #32425c
}

.services-link {
    background-color: #32425c;
    color: #ffffff;
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
}

.delivery-item {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    color: #000000;
}

.about {
    background-color: #ffffff;
}

.footer-top {
    background-color: #32425c;
}

.footer-logo {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.footer-top-text {
   font-family: 'Cuprum', sans-serif;
   font-size: 18px;
   color: #ffffff; 
}

.footer-menu-link {
   font-family: 'Cuprum', sans-serif;
   font-size: 18px;
   color: #ffffff;
}

.footer-menu-other-link {
   font-family: 'Cuprum', sans-serif;
   font-size: 18px;
   color: #ffd180;
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom-text {
   font-family: 'Cuprum', sans-serif;
   font-size: 16px;
   color: #ffffff;
}

.footer-bottom-link {
   font-family: 'Cuprum', sans-serif;
   font-size: 16px;
   color: #ffd180;
}

.header-basket {
    background-color: #ee3643;
}
.user-name {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 20px;
}

.user-name a {
   font-family: 'Cuprum', sans-serif;
   font-size: 21px;
   color: #000000;
}

.user-order a,
.user-account a {
   font-family: 'Cuprum', sans-serif;
   font-size: 16px;
   color: #32425c;
   text-decoration: underline;
}

main {
    background-color: #ffffff;
}

.breadcrumbs {
    text-transform: uppercase;
}

.breadcrumbs-current {
   font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   color: #000000;
}

.breadcrumbs-item a {
   font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   color: #000000;
}

.page-title {
   font-family: 'Cuprum', sans-serif;
   font-size: 30px;
   color: #000000;
   font-weight: bold;
   text-transform: uppercase;
   background-color: #f2f6f8;
}

.filter {
   font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   color: #000000;
   text-transform: uppercase;
    background-color: #f7f3ec;
}

legend {
    font-family: 'PT Sans', sans-serif;
   font-size: 17px;
   color: #000000;
    font-weight: bold;
   text-transform: uppercase;
}

.legend-sorting {
    background-color: #f7f3ec;
}

.filter-button {
    font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   color: #000000;
}

.legend-sorting {
    font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   color: #000000;
    text-transform: uppercase;
    font-weight: normal;
}

.sorting-option {
    font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   color: #000000;
    text-transform: uppercase;
    text-decoration: underline;
}

.sorting-option-red {
    color: #ee3643;
    text-decoration: none;
}

.catalog-article {
    background-color: #f2f6f8;
}

.filter-button {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    border: 2px solid #eaeaea;
}

.pagination-page a {
    font-family: 'PT Sans', sans-serif;
   font-size: 13px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    border: 2px solid #eaeaea;
}

.pagination-page:first-child {
    background-color: #ee3643;
    color: #ffffff;
}














